@charset "utf-8";
@import url(./reset.css);

:root {
	
}

.container {
  width: min(1080px, 100% - 30px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.center {
  align-items: center;  
}

a {
  /* NO */
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  font-size: 0px;
}


/* - - - - - - - - - -
  BLUE LINKS
  applies the default <a>
  styles in case they are
  wanted for some reason
 - - - - - - - - - - */
a.bluelink {
  text-decoration: underline;
  color: #0000FF;
}

.hide {
	visibility: hidden;
}